# Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Streamlit logs and configurations
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
